			Question Paper Generator 

Requirements

*) Admin

1.Admin can login into the system by providing valid username & password.

After successful login :-

2.the one with the ability to control and minpulate the whole system
means manage the question bank ( add | update | delete ).

3.manage the marks, module and course .

4.view the question paper.

5. download and email the question paper.

6.search the faculties based on the course.

7.logout the system.

*) Faculty 

1.Faculty can login into the system by providing valid username & password.

After successful login :-

2. Add the constraints before generating question paper.

3. Edit and review question paper.

4.view previous year question paper, Evaluate the response of the student and view the result of student.
