<html>
    <head>
        <title>
            Login
        </title>
    </head>
    <body>
<form action="index5">

<input  type="text" name="uname" placeholder="username or email">
<button type="submit">Submit</button>
</form>
</body>
</html>
